@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    
}

.nav-item
{
    color: #430b4e;
    font-weight: 700;
}
.nav-item:hover
{
    transition-duration: 250ms;
    transform: scale(1.08,1.08);
    transition-timing-function: ease-out;
    

}

.container
{
    min-height: 100vh;
}

.nav-link:hover
{
    color: #430b4e !important;
}


h1
{
    text-align:center; 
    color: #430b4e; 
    font-weight: 700;
}
h4
{
    text-align:center; 
    color: #430b4e; 
    font-weight: 700;
}
h5
{
    text-align:center; 
    color: #430b4e; 
    font-weight: 700;
}
p
{
    text-align:center;
}

a
{
    text-decoration: none;
}


.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }



/* USER PANEL */

.user_tk
{
    margin-top:40px;
    text-align: center;
    margin-bottom:60px;
}


.list-group-item-action.active
{
    background-color: #430b4e;
    border-color: #430b4e;
}



/* HEADER */

.logoheader
{
    margin-left: 50px;
}

.navbar.bg-light
{
    background-color: white;
}

#naglowek
{
    margin-right: 50px;
}

.headerikony
{
    margin-left: 40px;
}

.naglowekheader
{
    display: flex;
    flex-direction: row;
}

/*  LOGOWANIE PANEL */

.logowanieform
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container.logowanie
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logowanielogo
{
    position: relative;
    top: 0;
    transform: scale(0.5);
    text-align: center;
}

.logowaniebutton
{
    text-align: center;
    
}
.purpleBttn
{
    border-radius: 20px;
    border: none;
    background-color: #430b4e;
    padding: 10px;
    color: white;
}

/* FOOTER  */

