@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.nav-item
{
    color: #430b4e;
    font-weight: 700;
}
.nav-item:hover
{
    transform: scale(1,3);
    transition-duration: 250ms;
    transform: scale(1.07,1.07);
    transition-timing-function: ease-out;
}
h1
{
    text-align:center; 
    color: #430b4e; 
    font-weight: 700;
}
h4
{
    text-align:center; 
    color: #430b4e; 
    font-weight: 700;
}
h5
{
    text-align:center; 
    color: #430b4e; 
    font-weight: 700;
}
a
{
    text-decoration: none;
}
p
{
    text-align:center;
}