.logoheader {
  margin-left: 50px;
}

.navbar.bg-light {
  background-color: white;
}

.naglowek {
  margin-right: 50px;
}

.headerikony {
  margin-left: 40px;
}

.zwijanemenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}
