.logoheader {
  margin-left: 50px;
}

.navbar.bg-light {
  background-color: white;
}

.naglowek {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
}

.headerikony {
  margin-left: 40px;
  position: relative;
  top: 0;
}

.wyszukaj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.szukajbttn {
  border: 2px solid #621172;
  border-radius: 5px;
  background-color: white;
  color: #621172;
}

.szukajbttn:hover {
  background-color: #621172;
  color: white;
}
