.zdjecieproduktu {
  border: 2px solid black;
  border-radius: 10px;
}

.DoKoszyka {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ilosc_input {
  width: 100px;
}
