.user_tk {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.list-group-item-action.active {
  background-color: #430b4e;
  border-color: #430b4e;
}

.user_prawy {
  text-align: center;
}

#list-dane {
  margin-left: 40px;
}
.modal_tekst {
  text-align: left;
}

.modal_element {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.admin_panel {
  flex-direction: column;
}

.save_changes {
  border: none;
  border-radius: 5px;
  background-color: #430b4e;
  color: white;
}

.save_changes:hover {
  color: white;
  background-color: #621172;
}

.lista_produktow {
  height: 400px;
  overflow: scroll;
}

.usun_edytuj {
  float: left;
}
