@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
.logoheader {
  margin-left: 50px;
}

.navbar.bg-light {
  background-color: white;
}

.naglowek {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
}

.headerikony {
  margin-left: 40px;
  position: relative;
  top: 0;
}

.wyszukaj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.szukajbttn {
  border: 2px solid #621172;
  border-radius: 5px;
  background-color: white;
  color: #621172;
}

.szukajbttn:hover {
  background-color: #621172;
  color: white;
}

.logowanieform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container.logowanie {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logowanielogo {
  position: relative;
  top: 0;
  transform: scale(0.5);
  text-align: center;
}

.logowaniebutton {
  text-align: center;
}

body {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

.nav-item {
  color: #430b4e;
  font-weight: 700;
}

.nav-item:hover {
  transition-duration: 250ms;
  transform: scale(1.08, 1.08);
  transition-timing-function: ease-out;
}

.container-lg {
  min-height: 100vh;
}

.nav-link:hover {
  color: #430b4e !important;
}

h1 {
  text-align: center;
  color: #430b4e;
  font-weight: 700;
}

h4 {
  text-align: center;
  color: #430b4e;
  font-weight: 700;
}

h5 {
  text-align: center;
  color: #430b4e;
  font-weight: 700;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.border-top-gray {
  border-top-color: #adb5bd;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-condensed {
  line-height: 1.25;
}

.centruj {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.purpleBttn {
  border-radius: 20px;
  border: none;
  background-color: #430b4e;
  padding: 10px;
  color: white;
}

.purpleBttn:hover {
  background-color: #621172;
  color: white;
}

.user_tk {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.list-group-item-action.active {
  background-color: #430b4e;
  border-color: #430b4e;
}

.user_prawy {
  text-align: center;
}

#list-dane {
  margin-left: 40px;
}

.modal_tekst {
  text-align: left;
}

.modal_element {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.admin_panel {
  flex-direction: column;
}

.save_changes {
  border: none;
  border-radius: 5px;
  background-color: #430b4e;
  color: white;
}

.save_changes:hover {
  color: white;
  background-color: #621172;
}

.lista_produktow {
  height: 400px;
  overflow: scroll;
}

.usun_edytuj {
  float: left;
}

.rejestracjamain {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 90px;
}

.rejlogo {
  margin-top: 20px;
}

.produktybox {
  display: flex;
  gap: 30px 0px;
}

.cardpordukt {
  height: auto;
}

.zdjecieproduktu {
  border: 2px solid black;
  border-radius: 10px;
}

.ilosc_produktu {
  width: 70px;
}

.koszyk_img {
  max-height: 90px;
  max-width: 70px;
}

.td_item {
  vertical-align: middle;
}

.do_platnosci {
  text-align: right;
}

.realizacja_zam {
  height: 100vh;
  overflow: scroll;
}/*# sourceMappingURL=style.css.map */